<!DOCTYPE html>
<html>
<head>
	<title>Create Playlist Based on Artist Seed</title>
</head>
<body>
    <h2>Create Playlist Based on Artist</h2>
    <p>This application creates a playlist of a specific artist that is based off of your personal taste. To find a spotify artist URI, you will need to go to the spotfiy desktop app. Right click on the artist. Hover over share and then click "Copy Spotify URI". Paste this into the cell below.  
	<form action="/submit_artist_based">
		<p>
			<label for="uri">Spotify Artist URI</label><br>
			<input type="text" name="uri">
		</p>
		<p>
			<label for="playlist_name">What do you want to call your playlist?</label><br>
			<input type="text" name="playlist_name">
		</p>		
		<p>
			<label for="n_tracks">Number of tracks (1 to 100)</label><br>
			<input type="number" name="n_tracks" min='1' max='100'>
        </p>
        <p>
            <label for="time_range">Your listening history time-range</label><br>
            <select id="time_range" name="time_range">
                <option value="short_term">Short Term</option>
                <option value="medium_term">Medium Term</option>
                <option value="long_term">Long Term</option>
            </select>
        </p>
		<p><button type="submit">Submit</button></p>
	</form>
	<p>If you get a 500 error, try changing some of the parameters or artist. This is a free server so sometimes it does get overloaded. I'm still working out the kinks. Thank you for your patience and hope you find some good tunes!</p>
</body>
</html>