<!DOCTYPE html>
<html>
<head>
	<title>Get Song</title>
</head>
<body>
	<form action="/submit">
		<p>
			<label for="link">Please input a Spotify song link</label><br>
			<input type="text" name="link">
		</p>
		<p>
			<label for="playlist_name">Name of playlist you wish to create</label><br>
			<input type="text" name="playlist_name">
		</p>		
		<p>
			<label for="n_tracks">Number of tracks in playlist (1 to 100)</label><br>
			<input type="number" name="n_tracks">
		</p>
		<p><button type="submit">Submit</button></p>
	</form>
</body>
</html>
