{% extends "index.html" %}
{% block title%}Playlist Created{% endblock%}
{% block content %}


<figure class="text-center">
    <blockquote class="blockquote">
      <br>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        You just created a playlist. <a href="{{ url }}" target="_blank" class="alert-link">Click here</a> to view in the Spotify browser
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <h1>Your playlist is called</h1>
      <h2> "{{playlist_name}}"</h2>
      <h3><br>{{response}}<br></h3>
    </blockquote>
    <iframe src="{{ url }}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <p>
        <h4>Your playlist is saved to your Spotify account but feel free to listen here.<br>I hope you like the songs!<br></h4>
    </p>

</figure>

    {% endblock %}